body {
  background-color: #384152;
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 2rem;
}

h1{
  text-shadow: 5px 5px 20px white;
  font-family: sans-serif;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

button {
  height: 5vh;
  width: 5rem;
  border-radius: 20px;
  background-color: #1266f1;
  color: white;
  border: solid 2px;
  box-shadow: 4px 4px 10px black;
}

input {
  background-color: #202938;
  color: #5f6877;
  border: none;
  width: 34vw;
  height: 7vh;
  border-radius: 25px;
  font-size: larger;
  padding-left: 10px;
  cursor: pointer;
}

.total{
  width: 35%;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  border-bottom:solid 2px ;
}

.expenseLayout {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.expense {
  display: flex;
  background-color: #111828;
  width: 30vw;
  justify-content: space-between;
  height: 7vh;
  border-radius: 15px;
  align-items: center;
  color: white;
  font-size: larger;
}

.expense span {
  margin-left: 5px;
  margin-right: 5px;
}

.expenseList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 320px) and (max-width: 768px) {
  input{
    width: 17rem;
  }

  button{
    width: 17rem;
  }

  .total{
    width: 17rem;
  }

  .expense{
    width: 16rem;
  }
}